<div>
  <h1>main</h1>
  <div>
    ejs 上層帶來的參數: <%= name %>
  </div>

  <img src="<%= require('../../images/logo.png') %>" alt="">

  <i class="icon icon-google"></i>
  <i class="icon icon-google-plus"></i>
  <i class="icon icon-android"></i>
  <i class="icon icon-facebook"></i>

</div>